.header__lang-link {
  color: #FFFFFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.header__lang-link:first-child {
  text-decoration: underline;
  margin-right: 18px;
}
