.cover__overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1184px;
  margin: 92px auto 0;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  min-height: 740px;
  text-decoration: none;
  z-index: 1;
}

.cover__overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  z-index: 0;
  background: #2A2C2F;
}

.cover__overlay:hover::before {
  opacity: 0.8;
  transition: opacity ease-in-out 0.5s;
}
